*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #5d595c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5d595c,
    #ad7c83,
    #5d595c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5d595c,
    #ad7c83,
    #5d595c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    height: 80vh;
    width: 80vw;
    margin: 8rem auto;
    border-radius: 0.3rem;
    overflow: hidden;
  }

  aside {
    align-self: start;
  }
}

.wrapper {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.wrapper:before,
.wrapper:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.wrapper:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.form {
  display: grid;
  height: 10rem;
}

.input {
  font: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  width: 100%;

  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;

  border-bottom: 2px solid #c55959;
}

.input::placeholder {
  font-size: 1.8rem;
  font-weight: 900;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  outline: none;
  border-radius: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
  display: none; /* not displayed */
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.main {
  background-color: #363738;
}

.sidebar__left {
  height: 100%;
  background-color: #363636;
  color: #fff;
}

.sidebar__right {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 10rem;
  background-color: #c55959;
  display: grid;
  place-items: center;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  color: #fff;
}

.logo a {
  text-decoration: none;
}

.sidebar__left--main h2,
.sidebar__left--user h2 {
  font-size: 1.3rem;
  color: #a9a9a9;
  padding: 2.5rem 3.5rem;
}

.sidebar__link {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  height: 5rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 3.5rem;

  border-left: 0.5rem solid transparent;
  transition: all 300ms ease-in-out;
}

.sidebar__link:hover {
  color: #c55959;
  border-left: 0.5rem solid #c55959;
  border-radius: 2.5rem;
}

.sidebar__link li {
  list-style: none;
  padding-left: 1.5rem;
}

.sidebar__right--header {
  height: 10rem;
  background-color: #c55959;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar__right--header img {
  height: 2.5rem;
  border-radius: 50%;
}

.sidebar__right--body {
  height: 58.35rem;
  background-color: #fff;
  overflow: auto;




  scrollbar-width: thin;
}


.sidebar__right--body::-webkit-scrollbar {
  width: 11px;
}



.sidebar__right--footer {
  height: 10rem;
  background-color: #dcdcdc;
}

.form--user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--user button {
  color: #a9a9a9;
  border: none;
  outline: none;
  background-color: transparent;
}

.input--user {
  font: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  width: 13rem;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: #a9a9a9;
}

.input--user::placeholder {
  color: #a9a9a9;
}

.status {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.online {
  background: #28b62c;
}

.offline {
  background: #a9a9a9;
}

.offline--container {
  opacity: 0.5;
}

.sidebar__right--body h2 {
  font-size: 1.3rem;
  color: #a9a9a9;
}

.heading {
  display: flex;
  align-items: center;
  margin: 2.5rem 3.5rem;
}

.users__container {
  margin: 2.5rem 3.5rem;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
}

.user:hover {
  background-color: #eeeeee;
  cursor: pointer;
  transition: all 300ms;
}

.user img {
  height: 3.5rem;
  border-radius: 50%;
}

.user--content {
  padding-left: 1rem;
}

.user--name {
  margin: 0.3rem;
}

.user--city {
  color: #a9a9a9;
  margin: 0.3rem;
}
